body {
  margin-top: 100px;
  width: 100%;
  background-color: #27292d;
  overflow-x: hidden;
}

.footer_text {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 800;
}

.footer_button {
  margin-left: 0px;
}

.footer_bottom_text1 {
  margin: 7px;
}

.img {
  width: 60%;
  height: 60%;
}

.main {
  width: 100%;
}

#showcase {
  margin: 20px;
}

#showcase img {
  width: 100%;
}

#showcase h1 {
  font-weight: bold;
}
.showcase-left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdi-36px {
  font-size: 20px;
  margin-right: 10px;
}

.showcase-right {
  height: 100%;
  width: 70%;
  /* margin-left: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-text {
  margin-bottom: 20px;
  opacity: 0.5;
  font-size: 10px;
}

.img_logo {
  width: 15%;
  margin: 20px;
}

.download_text {
  display: none;
  font-size: 10px;
}

.app_store_btn_text {
  font-size: 10px;
}

.footer_bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: black;
  width: 100%;
  height: 60vh;
}

.mainText1 {
  display: none;
}
.mainText2 {
  display: none;
}
.Text1 {
  display: none;
}
.Text2 {
  display: none;
}
.Text3 {
  display: none;
}
.Text4 {
  display: none;
}
.state-down {
  top: 0px;
}
.state-partially {
  top: -150px;
}
.state-up {
  top: -300px;
}

@media only screen and (min-width: 992px) {
  .mainText1 {
    display: block;
    max-width: 100%;
    position: absolute;
    opacity: 1;
    transition: all 1s ease-out;
    transform: translate(-10%, 100%);
    font-size: 180px;
    font-weight: 900;
    z-index: -1;
  }
  .mainText2 {
    display: block;
    max-width: 100%;
    position: absolute;
    bottom: -380px;
    opacity: 1;
    transition: all 1s ease-out;
    transform: translate(15%, -100%);
    font-size: 180px;
    font-weight: 900;
    z-index: -1;
  }
  .Text1 {
    display: block;
    max-width: 100%;
    position: absolute;
    opacity: 0.2;
    margin-top: 30px;
    transition: all 1.3s ease-out;
    transform: translate(-45%, 100%);
    font-size: 180px;
    font-weight: 900;
    z-index: -1;
  }
  .Text2 {
    display: block;
    max-width: 100%;
    position: absolute;
    margin-top: 300px;
    opacity: 0.2;
    transition: all 1.3s ease-out;
    transform: translate(45%, -100%);
    font-size: 180px;
    font-weight: 900;
    z-index: -1;
  }
  .Text3 {
    display: block;
    max-width: 100%;
    position: absolute;
    opacity: 0.2;
    transition: all 1.3s ease-out;
    transform: translate(-70%, 150%);
    font-size: 180px;
    font-weight: 900;
    z-index: -1;
  }
  .Text4 {
    display: block;
    max-width: 100%;
    position: absolute;
    margin-top: 300px;
    opacity: 0.2;
    transition: all 1.3s ease-out;
    transform: translate(45%, -150%);
    font-size: 180px;
    font-weight: 900;
    z-index: -1;
  }
  footer {
    padding: 0px;
  }
  .header-text {
    margin-bottom: 20px;
    opacity: 0.5;
    font-size: 20px;
  }
  .download_text {
    display: block;
    font-size: 20px;
  }
  .mdi-36px {
    font-size: 29px;
    margin-right: 10px;
  }
  .app_store_btn_text {
    font-size: 15px;
  }
  .footer_text {
    font-size: 70px;
    font-weight: 800;
  }
  .footer_button {
    margin-left: 20px;
    margin-top: 20px;
  }
  .footer_bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer_bottom_text1 {
    margin: 20px;
  }
}
